! xterm ----------------------------------------------------------------------

xterm*VT100.geometry:     80x25
xterm*font:               7x13
xterm*faceName:	          Liberation Mono:size=10:antialias=false
xterm*dynamicColors:      true
xterm*utf8:               2
xterm*eightBitInput:      true
xterm*saveLines:          2048
xterm*scrollKey:          true
xterm*scrollTtyOutput:    false
xterm*scrollBar:          false
xterm*rightScrollBar:     true
xterm*jumpScroll:         true
xterm*multiScroll:        true
xterm*toolBar:            false
XTerm*selectToClipboard:  true
xterm*backarrowKeyIsErase:false
xterm*metaSendsEscape:    true
